#AttackView {
    .icon-75p {
        transform: scale(0.75);
    }

    .commands-table {
        th {
            text-align: center;
        }
    }

    .filters {
        height: 95px;
        margin-bottom: 10px;
        
        table {
            width: auto;
            float: left;
            margin: 5px;
        }
    }
}
